.row
  .col-sm-12
    %h1 Accommodation

    %p
      There are some rooms available at Ponsbourne Park. These
      range from £85 to £105 in price. To book one of these rooms
      please telephone the venue directly and tell them you are
      attending our wedding. If you book through the website you
      will not be able to take advantage of the special price
      offered to wedding guests.

    %h4 Telephone number: <i>01707 876191</i>

    %h4 There are also numerous hotels near the venue.

    %h3 Cheshunt
    %dl
      %dt
        %a{ href: 'https://www.travelodge.co.uk/hotels/339/Cheshunt-hotel', target: '_blank' }
          Travelodge (5.8 miles)
      %dd Park Plaza, Great Eastern Rd, Waltham Cross EN8 8DY, UK

      %dt
        %a{ href: 'http://www.marriott.co.uk/hotels/travel/stnch-cheshunt-marriott-hotel/', target: '_blank' }
          Marriot Hotel (4.7 Miles)
      %dd Halfhide Ln, Broxbourne EN10 6NG

    %h3 Hertford
    %dl
      %dt
        %a{ href: 'http://www.hertford-guesthouse.co.uk/', target: '_blank' }
          Rigby’s Guest House (7 miles)
      %dd 25 St Andrew St, Hertford, SG14 1HZ

      %dt
        %a{ href: "http://www.numberoneporthill.co.uk/", target: '_blank' }
          Number One Port H (7 miles)
      %dd 1 Port Hill, Hertford SG14 1PJ
