.row
  .col-sm-12
    %h1 Gifts
    %p
      Jen and I have been doing the whole living together thing
      for a while now and all we really want is for you to turn
      up and enjoy yourselves. If, however, the thought of not
      gifting drives you into a weird state of anxiety<sup>*</sup>      then we have some options below. You can offer to pay
      for some of our honeymoon, some art to turn our fledgling
      home into a fledgling Tate or you can go the traditional
      route of the wedding list. The first two options will take
      you to a paypal page where you can choose to pay however
      much you wish towards those goals, the third will take
      you to a John Lewis page where you can enter the list
      number.

    %p
      <sup>*</sup> In which case you may be suffering from
      acute Britishness, check with your GP for treatment options.

<hr/>
.row
  .col-sm-4
    :plain
      <form class='paypal' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="4A6BBNXY7EMAG">
        <a href='#' class='submit holiday'><span>Leveling up our Honeymoon</span></a>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>

  .col-sm-4
    :plain
      <form class='paypal' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="UJF4L8VR84YSJ">
        <a href='#' class='submit artwork'><span>Beautify our house with art</span></a>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>

  .col-sm-4
    %a{ href: 'https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp', class: 'submit wedding-list' }
      %span Or the more traditional wedding list<br/>(list no.: ####)


-content_for(:after_javascript_load) do
  :javascript
    $(function(){
      $('form.paypal a.submit').each(function(_, el){
        $(el).on('click', function(evt){
          evt.preventDefault();
          $(this).parent('form').submit();
        });
      });
    });
