.row
  .col-sm-12
    %h1 Gifts
    %p
      Nah we're good. Cheers though. Although if you're super keen
      we're probably going to do a "contribute to our honeymoon" type
      thing. You could enjoy photos of us on a beach spending your
      money on cocktails.
