.row
  .col-sm-6
    %h1 Thank You
    %p
      You really didn't need to do that but we truly
      appreciate it. Looking forward to seeing you at the
      wedding, not before though, don't want to ruin it
      by overdoing a good thing.
  .col-sm-6
    %br
    .center
      = image_tag('guiness.jpg')
